.idea
*.pyc
tex_docs
Pipfile
*.lock
epregressions/files_to_run.json
epregressions/files_to_run.txt
docs/_build
venv
.python-version
.coverage
EnergyPlusRegressionTool.egg-info
aa_testSuite_error.txt
htmlcov
epregressions/tests/diffs/results.json
.DS_Store
results.json
.eggs
