*.egg-info
.idea
*.pyc
tex_docs
Pipfile
*.lock
energyplus_regressions/files_to_run.json
energyplus_regressions/files_to_run.txt
docs/_build
venv
.python-version
.coverage
EnergyPlusRegressionTool.egg-info
aa_testSuite_error.txt
htmlcov
energyplus_regressions/tests/diffs/results.json
.DS_Store
results.json
.eggs
build
dist
/energyplus_regressions/tests/resources/epmacro.spec
/energyplus_regressions/tests/resources/expandobjects.spec
/energyplus_regressions/tests/resources/parametric.spec
/energyplus_regressions/tests/resources/readvars.spec
/energyplus_regressions/tests/resources/slab.spec
/energyplus_regressions/tests/resources/energyplus.spec
/energyplus_regressions/tests/resources/basement.spec
deploy
energyplus_regression_runner.spec
cover/
runner.spec
