# the core dependencies actually needed
pypubsub
beautifulsoup4

# if running with CI, this is needed for talking to s3
boto

# for running tests
coveralls
flake8
nose

# on windows, if you need to rebuild the unit test resource exes, just install pyinstaller and follow the directions in energyplus_regressions/tests/resources/README.md
# pyinstaller; platform_system == "Windows"

# to generate documentation
sphinx
docutils   # pinning this because it breaks at 0.18

# for packaging
wheel

# for polishing up the Pip install
PLAN-Tools==0.4

