[Desktop Entry]
Type=Application
Name=EnergyPlus Test Suite
Comment=An EnergyPlus test suite utility
Exec=/home/elee/EnergyPlus/TestScripts/ep-testsuite/Scripts/MainWindow.py
Icon=/home/elee/EnergyPlus/TestScripts/ep-testsuite/Scripts/ep_icon.png
Terminal=false
